
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(/Assignment02/image/toarisum.jpg);

}

.main_sec{

    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

}



.con_div{

    
    background: url(/Assignment02/image/contact.jpg);
    color: rgb(2, 2, 2);
    padding: 20px;
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
   box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

p{

    font-size: 25px;
    font-family: monospace;
}